<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
      <h1 style="color: #333333; text-align: center;">Bienvenue sur notre site !</h1>
      <p style="color: #666666;">Bonjour <%= @user.first_name %>,</p>
      <p style="color: #666666;">Nous sommes ravis de vous accueillir sur notre plateforme. Vous avez désormais accès à toutes nos fonctionnalités. N'hésitez pas à explorer notre site et à découvrir les événements passionnants qui vous attendent.</p>
      <p style="color: #666666;">Merci de votre inscription !</p>
      <div style="text-align: center;">
        <img src="app/assets/images/logo_carca.png" alt="Logo" style="max-width: 200px; margin: 20px auto; display: block;">
      </div>
    </div>
  </div>
</body>
</html>
